@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700');

@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Bubblegum+Sans|Caveat+Brush|Chewy|Lobster+Two');
/*--------------------------------
RESET
---------------------------------*/
*{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/* ===== NAV BAR ======*/
.navbar {
    border: 0;
    z-index: 9999;
    letter-spacing: 4px;
}

.logo {
    display: none;
    height: auto;
    width: 52px;
    padding-top: 1px;
    margin-right: 15px;
}

.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}
.navbar .nav > li > a {
  line-height: 50px;
}

.navbar-header h1 {
    letter-spacing: 1px;
    color: black !important;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    font-size: 66px;
}

.navbar li a, .navbar {
    color: black !important;
    font-size: 25px;
    transition: all 0.6s 0s;
}

.navbar-toggle {
    background-color: transparent !important;
    border: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: red !important;
}
ul { 
display: block;
list-style-type: none;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}
/*--------------------------------
GLOBAL
---------------------------------*/
p{
  color: #000000;
  line-height:30px;
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.btn {
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 500;
    background-color: #000000;
    border-radius: 0;
    text-align: center;
  text-transform: uppercase;
}

.btn--opacity {
    animation: opacity 3s;
}

.sect {
    padding: 130px 0;
}
.sect--brown{
  background-color: #1d140b;
}

.sect--no-bottom{
  padding-bottom: 0;
}

.sect--white-text{
  color: #fff;
}
.col--inbl{
  display: inline-block;
   float: none;
}
.row--center{
  text-align: center;

}
.row--small {
  max-width: 960px;
  margin:0 auto;
}

.row--margin{
  margin-top: 65px;
}
/*--------------------------------
ANIOMATION
---------------------------------*/
@-webkit-keyframes banner-in {
  0% {  
    background-color:rgba(0,0,0,1);
  }
  100% { 
     background-color:rgba(0,0,0,0.5);
  }
}
@-moz-keyframes banner-in {
  0% {  
    background-color:rgba(0,0,0,1);
  }
  100% { 
     background-color:rgba(0,0,0,0.5);
  }
}
@-o-keyframes banner-in {
  0% {  
    background-color:rgba(0,0,0,1);
  }
  100% { 
     background-color:rgba(0,0,0,0.5);
  }
}
@keyframes banner-in {
  0% {  
    background-color:rgba(0,0,0,1);
  }
  100% { 
     background-color:rgba(0,0,0,0.5);
  }
}

@-webkit-keyframes opacity {
  0% {  
    opacity:0;
  }
  100% { 
     opacity:1;
  }
}
@-moz-keyframes opacity {
  0% {  
    opacity:0;
  }
  100% { 
     opacity:1;
  }
}
@-o-keyframes opacity {
  0% {  
    opacity:0;
  }
  100% { 
     opacity:1;
  }
}
@keyframes opacity {
  0% {  
    opacity:0;
  }
  100% { 
     opacity:1;
  }
}

/*--------------------------------
BANNER
---------------------------------*/
.banner{
    background-image: url(images/brabus500.jpg);
  background-color:#000;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: table;
    height: 100%;
    text-align:center;
    background-color: rgba(0,0,0,0.4);
    animation: banner-in 2s ;
}

.banner__container {
    display: table-cell;
    vertical-align: middle;
}

.banner__scroll-down {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -12px;
    cursor: pointer;
    animation: opacity 3s;
}

.banner__title {
    font-size: 56px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-weight: 500;
    animation: opacity 3s;
}

.banner__text {
    font-size: 14px;
    color: #fff;
    margin: 0;
    margin-bottom: 18px;
    animation: opacity 3s;
}

/*--------------------------------
TYPE OF CAR
---------------------------------*/
.sect--type{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.sect__title {
    margin-top: 0;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 20px;
}

.sect__subtitle {
    margin-bottom: 0;
}

.coffee {
    padding: 0 25px;
}

.coffee__name {
    letter-spacing: 1px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
}

.coffee__img {
    width: 90%;
}

.coffee__descr {
    margin: 0;
    line-height: 23px;
}

/*--------------------------------
STORY
---------------------------------*/

.story-img {
    background-image: url("images/showroom.jpg");
    height: 0;
    padding-bottom: 52%;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  background-color: #1d140b;
}

/*--------------------------------
2E SECTION 
---------------------------------*/
.half-sect__second {
    background-image: url('images/ftype.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
      background-color:#fff;
}

.half {
    width: 50%;
    display: table-cell;
    background-color:#fff;
}

.half-sect__first {
    padding: 150px;
   background-color:#6e472d;
}

.description__p {
    margin-bottom: 40px;
}

.description__title {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
}

/*--------------------------------
VENTES
---------------------------------*/
.sect--great {
    background-image: url('images/deal1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
      background-color:rgb(0, 0, 0);
}

/*--------------------------------
           GAMME
---------------------------------*/
.sect--best {
    background-image: url("images/rover.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 160px 0;
    background-color:rgb(0, 0, 0);
}

.best__title {
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
    color: #ebebeb;
}

.best__img {
    width: 50px;
}

.best--margin {
    margin-top: 20px;
    margin-bottom: 40px;
}

.best--bottom {
    margin-bottom: 40px;
}
/*--------------------------------
SLIDER
---------------------------------*/


/*--------------------------------
BLOG IMAGES
---------------------------------*/

.last-articles {
    margin-top: 50px;
}
.article-pre__img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   padding-bottom: 80%;
}

.article-pre {
    background-color: #fff;
}

.article-pre__title {
    letter-spacing: 1px;
    font-size: 16px;
  margin-top:0;
    text-transform: uppercase;
    font-weight: 600;
   margin-bottom: 10px;
}

.article-pre__date {
    color: #767676;
    line-height: 23px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 5px;
    display: inline-block;
    font-family: 'Nunito', sans-serif;
}

.article-pre__info {
    padding: 25px 20px 20px 20px;
}
.article-pre__ex {
    margin: 0;
    line-height: 22px;
}

.article-pre-1 .article-pre__img {
    background-image: url('https://images.pexels.com/photos/374592/pexels-photo-374592.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
}

.article-pre-2 .article-pre__img {
    background-image: url('https://images.pexels.com/photos/64775/pexels-photo-64775.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb');
}

.article-pre-3 .article-pre__img {
    background-image: url('https://static.pexels.com/photos/373888/pexels-photo-373888.jpeg');
}

/*--------------------------------
FOOTER
---------------------------------*/
.footer {
  display: table;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer__half {
    width: 50%;
    display: table-cell;
    padding: 100px 140px;
}

.footer__half-1 {
    background-image: url('images/lambo.jpg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__half-2 {
    background-color: #000;
}

.footer__big-title {
    margin-top: 0;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 35px;
    margin-bottom: 25px;
    color: #fff;
}

.footer__title {
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    color: #eeeeee;
}

.footer__desc {
    color: #d7d7d7;
    margin-bottom: 25px;
}
/*--------------------------------
RESPONSIVE
---------------------------------*/

@media screen and (max-width:1024px){
  .sect{
    padding:100px 0;
  }
  .row--margin {
    margin-top: 55px;
}
  .banner__title {
    font-size: 54px;
  }
  .half-sect__first{
    padding:100px;

  }
  .three-img__img{
    padding-bottom: 40%;
  }
  .sect--no-bottom{
    padding-bottom:0px !important;
  }
  .footer__half {
    padding: 90px 120px;
  }
  .sect-t-footer{
    display:none;
  }
  .footer{
    position:relative;
  }
}


@media screen and (max-width:991px){
  .sect{
    padding:80px 0;
  }
   .banner__title {
    font-size: 50px;
  }
  .row--margin {
    margin-top: 45px;
}
  .coffee {
    padding: 0 15px;
  }
  .coffe__img{
    width:100%;
  }
  .half-sect__first {
    padding: 80px;
  }
  .last-articles{
        margin-bottom:30px;
  }
  
  .sect__title, .description__title, .footer__big-title {
    line-height: 38px;
    font-size: 55px;
  }
  .footer__half {
    padding: 60px 90px;
}
  
}

@media screen and (max-width:767px){
  .banner__title {
    font-size: 48px;
}
  .three-img{
    height:auto;
  }
  .sect{
    padding:60px 0;
  }
  .row--margin {
    margin-top: 30px;
}
  .coffee{
    margin-bottom:30px;
  }
  .coffee__img {
    width: 35%;
  }
  .coffee__descr, .sect__subtitle{
    padding: 0 50px;
  }
  .sect__title, .description__title, .footer__big-title {
    line-height: 36px;
    font-size: 26px;
  }
  .half-sect__first {
    padding: 50px;
  }
  .article-pre{
    margin-bottom:15px;
  }
  .footer__half {
    width: 100%;
    display: block;
    padding: 50px 50px;
  }
    .half-sect {
    display: block;
    height: auto;
  }
  .half {
    width: 100%;
    display: block;
  }
  .half-sect__second{
    padding-bottom:60%;
  }
  
  
}

@media screen and (max-width:480px){
  .banner__title {
    font-size: 44px;
  }
  .sect{
    padding:50px 0;
  }
  .sect__title, .description__title {
    line-height: 30px;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .sect__subtitle{
    padding:0;
  }
  .coffee__img {
    width: 65%;
  }
  .coffee__descr, .sect__subtitle {
    padding: 0 15px;
  }
  .best--margin {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .row--margin {
    margin-top: 15px;
  }
  .best__img {
    width: 44px;
  }
  .best__title {
    margin-top: 15px;
  }
  .three-img__img {
    padding-bottom: 60%;
    width:100%;
  }

  .footer__half {
    padding: 35px 35px;
}
  .footer__desc {
    margin-bottom: 10px;
}
  
}

