
.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 0;

    width:400px;
    margin:0 auto;
    margin-top:10%;
  }

.button {
align-items: center;

 }
